* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto-Regular', serif;
}

:root {
    --promo-bg: #45d1c5;
    --bg-medium: #b1b1b1;
    --bg-light: #eeeeee;
    --text-color-dark-hover: #000000;
    --text-color-dark: #666666;
    --btn-color: #ff523b;
    --btn-color-hover: #ff8d7d;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('/data/fonts/Roboto-Regular.ttf');
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.content {
    flex: 1 1 auto;
}

.header {
    padding: 20px 0 20px 0;
    background: white;
}

.header__row {
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
}

.header__logo {
    display: block;
}

.header__logo img {
    width: 100%;
}

.header__caption {
    padding: 4px 0 0 25px;
    font-size: 14px;
    color: var(--text-color-dark);
}

.header__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__nav {
    display: block;
}

.header__nav ul {
    display: flex;
    list-style: none;
}

.header__nav ul li {
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
}

.header__nav-api {
    font-weight: 600;
    color: var(--text-color-dark);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 14px;
    margin: 0 40px 0 0; 
}

.header__nav-api:hover {
    color: var(--text-color-dark-hover);
}

.promo {
    background: var(--promo-bg);
    padding: 10px 0;
}

.promo__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo__row p {
    margin: 0 auto;
    color: white;
    font-weight: 600;
}

.footer {
    background: var(--bg-medium);
}

.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background: var(--btn-color);
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 15px;
    min-width: 145px;
    height: 36px;
}

.link-btn:hover {
    background: var(--btn-color-hover);

}

.btn-outline {
    background: transparent;
    border: 2px solid var(--btn-color-hover);
    color: var(--btn-color-hover);
}

.btn-outline:hover {
    color: white;
    background: var(--btn-color);
}

.btn-bait {
    animation: btn-bait 2s infinite;
}

@keyframes btn-bait {
    50% {box-shadow: 0px 0px 8px 1px var(--btn-color);}
}

.main {
    background: rgb(231,231,231);
    background: linear-gradient(180deg, rgba(231,231,231,1) 0%, rgba(242,242,242,1) 50%, rgba(255,255,255,1) 100%);
    padding: 80px 0 10px 0;
}

.main__row {
    display: flex;
    flex-wrap: wrap;
}

.main__col {
    display: block;
    flex: 0 1 50%;
    padding: 0 20px; 
}

.exchange__box p {
    display: block;
    margin: 0 0 10px 0;
}

.exchange__container {
    max-width: 90%;
    margin: 0 auto;
}

.course__alert {
    background: #ffeeec;
    padding: 15px 0;
}

.course__body {
    display: flex;
    justify-content: space-between;
}

.course__alert p {
    display: block;
    margin: 0;
    color: var(--btn-color);
}

.exchange__box {
    background: white;
    padding: 50px 0 180px 0;
    box-shadow: 0px 0px 8px 1px var(--bg-medium);
    position: relative;
    z-index: 0;
    border-radius: 30px 30px 0 0;
}

.submitt__box {
    border-radius: 0 0 5px 5px;
    padding: 20px 10px 20px 10px;
    background: white;
    box-shadow: 0px 18px 14px 1px rgba(0,0,0,0.19);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.submitt__box::before {
    position: absolute;
    top: 0;
    content: '';
    width: 90%;
    height: 1px;
    background: #e7e7e7;
}

.submitt__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background: var(--btn-color);
    border-radius: 5px;
    font-weight: 800;
    letter-spacing: 0.15em;
    font-size: 24px;
    min-width: 330px;
    height: 80px;
    border: none;
}

.form-control {
    padding: 15px 5px;
    border-radius: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
    border: 1px solid #d2d2d2;
}

.form-row {
    display: flex;
}